@charset "utf-8";

.gramadoTitulo{
    background-image: url(../imagens/gramadoTitulo.png);
    background-position: center;
    background-size: cover;
    width: 230px;
    height: 170px;
}
.portoTitulo{
    background-image: url(../imagens/portoseguroTitulo.png);
    background-position: center;
    background-size: cover;
    width: 230px;
    height: 170px;
}
.rioTitulo{
    background-image: url(../imagens/riodejaneiroTitulo.png);
    background-position: center;
    background-size: cover;
    width: 230px;
    height: 170px;
}
.lugares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gramado{
    padding: 30px;
}
.paisagemGramado{
    padding: 10px;
    max-width: 250px;
}