@charset "utf-8";

.gramadoTitulo{
    background-image: url(../imagens/gramadoTitulo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 230px;
    height: 170px;
}
.portoTitulo{
    background-image: url(../imagens/portoseguroTitulo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 230px;
    height: 170px;
}
.rioTitulo{
    background-image: url(../imagens/riodejaneiroTitulo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 230px;
    height: 170px;
}
.lugares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardPaisagem{
    padding: 30px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.paisagemLugar{
    padding: 20px;
    max-width: 200px;
}