@charset "utf-8";

.gramadoTitulo{
    max-width: 200px;
    height: auto;
}
.portoTitulo{
    max-width: 250px;
    height: auto;
}
.rioTitulo{
    max-width: 220px;
    height: auto;
}
.lugares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.pLugares{
    padding: 10px;
}
.cardPaisagem{
    max-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.paisagemLugar{
    padding: 20px;
    max-width: 250px;
    height: auto;
}