@charset "utf-8";
@import url(estilos/navbar.css);
@import url(estilos/lugares.css);
:root{
    --amarelo: #FFBB00;
    --azul:#116369;
}

*{
    padding: 0px;
    margin: 0px;
}
.container{
    background-image: url(imagens/paisagem.png);
    background-size: cover;
    background-position: bottom;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 25px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.551);
}

.container2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: var(--azul);
}

.text{
    max-width: 500px;
    padding: 20px;
    color: black;
}

.titulo{
    padding: 5px;
}

.itensText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.knowInformation{
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: var(--azul);
    cursor: pointer;
    color: white;
}
.knowInformation:hover{
    background-color: #093639;
    transition: 0.4s;
}