@charset "utf-8";
@import url(estilos/navbar.css);
@import url(estilos/lugares.css);
@import url(estilos/viagens.css);
@import url(estilos/sonhos.css);
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

:root{
    --amarelo: #FFBB00;
    --azul:#116369;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-image: url(imagens/paisagem.png);
    background-size: cover;
    background-position: bottom;
    padding: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.711);
    font-family: 'Lobster Two', cursive;
}

.container2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: var(--azul);
}

.text{
    max-width: 500px;
    padding: 20px;
    color: black;
}

.titulo{
    padding: 5px;
}

.itensText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
button{
    margin: 20px;
}
.knowInformation{
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: var(--azul);
    cursor: pointer;
    color: white;
}
.knowInformation:hover{
    background-color: #093639;
    transition: 0.4s;
}

.footer{
    margin-top: 60px;
    padding: 20px;
    max-width: 100vw;
    background-color: var(--azul); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.botoesFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnF{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 150px;
    background-color: transparent;
    border: 2px solid var(--azul);
    cursor: pointer;
    color: var(--amarelo);
}

.btnF:hover{
    border-bottom: 2px solid var(--amarelo);
    transition: 0.6s;
}

.iconFooter{
    max-width: 50px;
    margin: 10px;
}